<body style="background-color: <%= randomColor %>"> 
  <a href="cats/markov">Go to Markov </a> 
    <br>
    <a href="cats/curie">Go to Curie </a>
    <br>
    counter value is <%= counter %>
  </body>
